<!DOCTYPE html>

<html lang="en">
    <!--
    Name: Carlos Villarreal
    Date: 09.13.2024
    CSC 372-01

    This is the products page of my video game store. It contains the list of products available from the 4 different categories
    which are consoles, games, accessories, and decor.
    -->

    <head>
        <meta charset="utf-8">
        <title>PlayStation Nation - Products</title>
        <link rel="stylesheet" href="styles/styles.css">
        <script src="/js/products.js" defer></script>
    </head>

    <body>

        <header>

            <!-- Include the Navbar -->
            <%- include('partials/_navbar') %>

            <h1><u>PlayStation Nation</u></h1>

            <h3>Your journey to greatness starts here.</h3>

        </header>

        <main>
            <h1>All Products</h1>
            
            <p>Click on "Add to Cart" to add one item to your cart.</p>
            <div class="products-container" id="productsContainer">
                <!-- Products will be inserted here via JavaScript -->
            </div>
        </main>        

        <footer class="pre-format">
            Copyright © 2024 PlayStation Nation
            PlayStation Nation Productions
            All rights reserved
        </footer>

    </body>

</html>